:root {
    --background-color: #32396b;
    --main-calculator-color: #1c1c1c;
    --default-buttons-color: #333;
    --operator-buttons-color: #f59e42;
    --top-row-buttons-color: #a5a5a5;
    --btn-size: 61px;
    --input-field-color: #1c1c1c;
    --input-field-text-color: #fff;
    --button-background-color: #333;
    --button-text-color: #fff;

    --font-main: "Roboto", sans-serif;
}

:root.white {
    --background-color: #ebe2cc;
    --main-calculator-color: #fff;
    --input-field-color: #fff;
    --input-field-text-color: #1c1c1c;
    --button-background-color: #a3a2a0;
    --button-text-color: #171615;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main)
}

body {
    min-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    transition: background 1s ease, color 1s ease;
}


.calculator {
    width: 320px;
    background-color: var(--main-calculator-color);;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    border-radius: 35px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
    transition: background 1s ease;

}

#theme-toggle {
    position: fixed;
    top: 20px;
    left: 20px;

    background: none;
    border: none;
    cursor: pointer;
}

#theme-toggle img {
    width: 40px;
    height: 40px;
}

#previous {
    min-height: 24px;
    color: #888;
    text-align: right;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
}

#input-field {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    background: var(--input-field-color);
    border: none;
    color: var(--input-field-text-color);
    border-radius: 50px;
    transition: background 1s ease, color 1s ease;
}

#input-field:focus {
    outline: none;
}

::placeholder {
  color: #333; /* A dark gray color, replace with your desired dark color */
  opacity: 1; /* Firefox uses a lower default opacity, so set it to 1 for full visibility */
}

input[type=number] {
    appearance: textfield;
}

#buttons-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Всі ряди тепер автоматично беруть висоту зі змінної */
    grid-auto-rows: var(--btn-size);
    gap: 12px;
}

button {
    height: var(--btn-size);
    border-radius: 50%;
    border: none;
    font-size: 1.4rem;
    background: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: 0.15s; 
    font-weight: 400;
}

button:active {
    transform: scale(0.95);
} 

#zero, .bracket {
    grid-column: span 2;
    /* Ширина підтягнеться сама завдяки grid-column */
    width: 100%; 
    /* Висота підтягнеться з button (наша змінна) */
    border-radius: 999px;
}

.top-row-buttons {
    background: var(--top-row-buttons-color);
    color: black;
}

.operator{
    background-color: var(--operator-buttons-color);
    border-radius: 50%;
    border: none;
}



